<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<section>
<%= form_for @message do |f| %>
    <%= f.collection_select(:reciever_id, User.all, :id, :name) %>
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    <%= f.submit %>
<% end %>
</section>