<%= form_for @message do |f| %>
    <div>
    <%= f.hidden_field :reciever_id  %>
    </div>
    <div>
    <%= f.text_field :title, class: "form-control input-sm", placeholder: "Title" %>
    </div>
    <div>
    <%= f.text_area :body, class: "form-control input-sm", placeholder: "Message" %>
    </div>
    <br>
    <%= f.submit "Send", :class => "btn btn-xl" %>
<% end %>
