<section>
  <div class="col-md-3">
    <p class="col-md-12">
      <button class="btn btn-xl" id="recBtn">Recieved</button>
    </p>
    <p class="col-md-12">
      <button class="btn btn-xl" id="sentBtn" style="width: 95px">Sent</button>
    </p>
  </div>

  <div class="col-md-6">
    <div class="recDiv">
      <div>
        <% @recieved_messages.each do |message| %>
        <div class="messageBox">
          <div class="recBox">
          <%= link_to image_tag(message.sender.images.first.picture, {width: "60x60px", class: "profile-icons"}) %> &nbsp;&nbsp;
            <%= message.sender.name %>
          </div>
          <br>
          <div class="recBoxTitle">
            Subject: <%= message.title %>
          </div>
          <br>
          <div class="recBoxBox">
            <%= message.body %>
          </div>
          <br>
          <p style="text-align:center">
            <button class="btn btn-sm" id="recRepTog">reply</button>
          </p>
          <div class="recRepToggle">
            <% message.replies.each do |reply| %>
            <div class="messageBox">
              <p style="text-align: left"><%= link_to image_tag(message.sender.images.first.picture, {width: "60x60px", class: "profile-icons"})%></p><br>
              <p style="text-align: left" class="recBoxBox"><%= reply.body %></p>
              <br>
              <p style="text-align: right">Sent: <%= time_ago_in_words(reply.created_at) + " ago" %></p>
            </div>
            <% end %>
          <%= render partial: 'replies/form', locals: {id: message.id} %>
        </div>
        </div>
        <div style="text-align: right">
          <%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="sentDiv">
      <div>
        <% @sent_messages.each do |message| %>
        <div class="messageBox">
          <div class="sentBox">
            <%= link_to image_tag(message.reciever.images.first.picture, {width: "60px", height: 
            "60px", class: "profile-icons"}) %> &nbsp;&nbsp;
            <%= message.reciever.name %>
          </div>
          <br>
          <div class="sentBoxTitle">
            Subject: <%= message.title %>
          </div>
          <br>
          <div class="sentBoxBox">
            <%= message.body %>
          </div>
          <br>
          <p style="text-align:center">
            <button class="btn btn-sm" id="sentRepTog">reply</button>
          </p>
          <div class="sentRepToggle">
            <% message.replies.each do |reply| %>
            <div class="messageBox">
             <%= link_to image_tag(message.sender.images.first.picture, {width: "60px", height: 
            "60px", class: "profile-icons"})%> <br><br>
              <p style="text-align: left" class="recBoxBox"><%= reply.body %></p>
              <br>
              <p style="text-align: right">sent: <%= time_ago_in_words(reply.created_at) + " ago" %></p>
            </div>
          <% end %>
          <%= render partial: 'replies/form', locals: {id: message.id} %>
        </div>
        </div>
        <div style="text-align: right">
          <%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
