<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" style="margin:5px">
    <%= f.text_area :body, class: "form-control input-m", placeholder: "Reply" %>
  </div>
    <%= f.hidden_field :message_id, value: id %>
    <%= f.hidden_field :sender, value: session[:user_id] %>
  <div class="actions" style="text-align: center">
    <%= f.submit "send", :class => "btn btn-sm"%>
  </div>
<% end %>
