<td><%= hair.style %></td>
<td><%= hair.education %></td>
<td><%= hair.experience %></td>
<td><%= hair.clients %></td>
<td><%= hair.equipment %></td>
<td><%= hair.rate %></td>
<td><%= hair.zip %></td>
<td><%= hair.user %></td>

<td><%= link_to 'Show', hair %></td>
<td><%= link_to 'Edit', edit_hair_path(hair) %></td>
<td><%= link_to 'Destroy', hair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
