<p id="notice"><%= notice %></p>

<%= render 'profileHair' %>


<br>
<% if @hair.user == current_user %>
	<%= render 'users/userImages' %>
<% end %>
<div id='calendar' data-uid="<%= @hair.user.id %>"></div>

<%= link_to 'Edit', edit_hair_path(@hair) %> |
<%= link_to 'Back', hairs_path %>
