<p id="notice"><%= notice %></p>

<%= render 'profileHair' %>

<br>

<% if @hair.user == current_user %>
	<%=render 'users/userImages' %>
<% end %>

<% @hair.user.images.each do |image| %>
	<%= image_tag image.picture %>
		<% if @hair.user == current_user %>
		<%= link_to 'Destroy', image_destroy_path(id: image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %>


<div id='calendar' data-uid="<%= @hair.user.id %>"></div>

<%= link_to 'Edit', edit_hair_path(@hair) %> |
<%= link_to 'Back', hairs_path %>
