<div class="nu-form" style='margin: 5%'>
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control input-sm", placeholder: "Name" %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :email, class: "form-control input-sm", placeholder: "Email" %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :phone, class: "form-control input-sm", placeholder: "Phone (xxx-xxx-xxxx)"  %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div>
    <div class="col-md-6">
      <%= f.password_field :password, class: "form-control input-sm", placeholder: "Password"  %><br>
    </div>
    <div class="col-md-6">
      <%= f.password_field :password_confirmation, class: "form-control input-sm", placeholder: "Confirmation" %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-4">
    <%= f.text_field :city, class: "form-control input-sm", placeholder: "City"  %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :state, class: "form-control input-sm", placeholder: "State"  %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :zip, class: "form-control input-sm", placeholder: "Zip"  %>
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-3">
    <%= f.hidden_field :memberId %>
  </div>
  <div class="col-md-6">
    <%= f.text_area :description, class: "form-control", placeholder: "Tell us a little about yourself" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="actions">
    <%= f.submit "Sign Up", :class => "btn btn-xl" %>
  </div>

  <% end %>
</div>

