<p>
  <strong>Name:</strong>
  <%= @client.user.name %>
</p>

<p>
  <strong>Memberid:</strong>
  <%= @client.user.memberId %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.user.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.user.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @client.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>
