<td><%= client.company %></td>
<td><%= client.user %></td>
<td><%= link_to 'Show', client %></td>
<td><%= link_to 'Edit', edit_client_path(client) %></td>
<td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>