<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%= image_tag @client.user.image, align: 'left'%>


<p id="notice"><%= notice %></p>
<div class='client_show_page'>
<%= render 'profileClient' %>
</div>

<% if @client.user == current_user %>
	<%= render 'users/userImages' %>
<% end %>

<br>
<br>
<br>
<br>
<br>



<div id='calendar' data-uid="<%= @client.user.id %>"></div>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>

