<%= form_for(@stylist) do |f| %>
  <% if @stylist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stylist.errors.count, "error") %> prohibited this stylist from being saved:</h2>

      <ul>
      <% @stylist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <%= f.select :style, ["Beauty","Fashion","Theatre","Television","Film and Movies","Personal Services"], :include_blank => "Style" %>
  </div>
  <div class="col-md-4">
    <%= f.select :education, ["On the Job","Some Schooling","Degree Certified"], :include_blank => "Training" %>
  </div>
  <div class="col-md-4">
    <%= f.select :equipment, ["Minimum","Moderate","Full Set"], :include_blank => "Equipment" %>
  </div>
  <div class="col-md-4">
    <%= f.select :experience, ["No Experience","Some Experience","Experienced","Professional"], :include_blank => "Training" %>
  </div>
  <div class="col-md-4">
    <%= f.select :rate, ["$20-$99", "$100-$499","$500-$999","$1000-$4999","$5000+"], :include_blank => "Day Rate" %>
  </div>
    <div class="col-md-12">
    <%= f.text_field :clients, placeholder: "Clients" %>
  </div>
  <br>
  <br>
  <br>
  <div class="field">
    <%=f.hidden_field :user_id, value: session[:user_id] %>
  </div>
  <div class="actions">
     <%= f.submit "Sign Up", :class => "btn btn-xl" %>
  </div>
<% end %>
