<p>
  <strong>Name:</strong>
  <%= @stylist.user.name %>
</p>

<p>
  <strong>Memberid:</strong>
  <%= @stylist.user.memberId %>
</p>

<p>
  <strong>City:</strong>
  <%= @stylist.user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @stylist.user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @stylist.user.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stylist.user.description %>
</p>


<p>
  <strong>Style:</strong>
  <%= @stylist.style %>
</p>

<p>
  <strong>Education:</strong>
  <%= @stylist.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @stylist.experience %>
</p>

<p>
  <strong>Clients:</strong>
  <%= @stylist.clients %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @stylist.equipment %>
</p>

<p>
  <strong>Rate:</strong>
  $<%= @stylist.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @stylist.user %>
</p>