<p id="notice"><%= notice %></p>

<%= render 'profileStyle' %>

<p>
  <%= @stylist.user.images.each do |image| %><br>
    <%= image_tag image.media.url(:medium)%><br>
    <%= button_to "Delete", :action => @destroy%>
  <% end %>
</p>
<%= render 'images/form' %>

<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
