<p id="notice"><%= notice %></p>

<%= render 'profileStyle' %>




<br>

<div id='calendar' data-uid="<%= @stylist.user.id %>"></div>

<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
