<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th>Style</th>
      <th>Education</th>
      <th>Experience</th>
      <th>Clients</th>
      <th>Equipment</th>
      <th>Rate</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.style %></td>
        <td><%= photo.education %></td>
        <td><%= photo.experience %></td>
        <td><%= photo.clients %></td>
        <td><%= photo.equipment %></td>
        <td><%= photo.rate %></td>
        <td><%= photo.user %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>


<%= form_tag(photos_path, method: 'get') do %>
  <p>
    Style:
    <%= select_tag( :style, options_for_select(["Fashion","Landscape","Wildlife","Action/Sports","Pet","Event","Photojournalist","Concert","Baby/Kids","Family","Food","Nude/Erotic","Advertising","Stock","Wedding","Videographer"]), include_blank: true) %>
    Education:
    <%= select_tag( :education, options_for_select(['On the Job', 'Some Schooling', 'Degree/Certification']), include_blank: true ) %>
    Equipment:
    <%= select_tag( :equipment,  options_for_select(['Minimum', 'Moderate', 'Full Set']), include_blank: true ) %>
    Experience:
    <%= select_tag( :experience,  options_for_select(["No Experience","Some Experience","Professional"]), include_blank: true) %>
    Rate:
    <%= select_tag( :rate,   options_for_select([['-$100', 100], ['$100-$500', 500], ['$500-$1k', 1000], '$1k-$5k', '$5k+']), include_blank: true) %>

    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
<br>

<%= link_to 'New Photo', new_photo_path %>
