<p id="notice"><%= notice %></p>
<section>
<h2 class="section-heading">Photo and Video</h2>

<div class="search-form-center">
<%= form_tag(photos_path, method: 'get') do %>
  <p class="col-sm-2">
    <%= select_tag( :style, options_for_select(["Fashion","Landscape","Wildlife","Action/Sports","Pet","Event","Photojournalist","Concert","Baby/Kids","Family","Food","Nude/Erotic","Advertising","Stock","Wedding","Videographer"]), {include_blank: "Style", class: "form-control"}) %>
  </p>
  <p class="col-sm-2">
    <%= select_tag( :education, options_for_select(['On the Job', 'Some Schooling', 'Degree/Certification']), {include_blank: "Education", class: "form-control"}) %>
  </p>
  <p class="col-sm-2">
    <%= select_tag( :equipment,  options_for_select(['Minimum', 'Moderate', 'Full Set']), {include_blank: "Equipment", class: "form-control"} ) %>
  </p>
  <p class="col-sm-2">
    <%= select_tag( :experience,  options_for_select(['No Experience', 'Some Experience', 'Professionals']), {include_blank: "Experience", class: "form-control"}) %>
  </p>
  <p class="col-sm-2">
    <%= select_tag( :rate,   options_for_select([['-$100', 100], ['$100-$500', 500], ['$500-$1k', 1000], '$1k-$5k', '$5k+']), {include_blank: "Rate", class: "form-control"}) %>
  </p>
  <p class="col-sm-2">
    <%= text_field_tag :zip, nil, class: "form-control input-sm", :placeholder => "Zip Code"%>

<br><br><br>

    <p class="col-sm-12">
    <%= submit_tag "Search", {name: nil, class: "btn btn-xl"} %>
  </p>

<br>

  </div>
 <% end %>
</section>

<%= render 'photos' %>

<% link_to 'New Photographer', new_photo_path %>
