<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.user.name %>
</p>

<p>
  <strong>Memberid:</strong>
  <%= @photo.user.memberId %>
</p>

<p>
  <strong>City:</strong>
  <%= @photo.user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @photo.user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @photo.user.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.user.description %>
</p>


<p>
  <strong>Style:</strong>
  <%= @photo.style %>
</p>

<p>
  <strong>Education:</strong>
  <%= @photo.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @photo.experience %>
</p>

<p>
  <strong>Clients:</strong>
  <%= @photo.clients %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @photo.equipment %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @photo.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<br>


<% if @photo.user == current_user %>
  <%= render 'users/userImages' %>
<% end %>

<% @photo.user.images.each do |image| %>
  <%= image_tag image.picture %>
    <% if @photo.user == current_user %>
    <%= link_to 'Destroy', image_destroy_path(id: image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %>


<div id='calendar' data-uid="<%= @photo.user.id %>"></div>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
