<div class="col-md-7">
<!-- Photo Slider -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


 <!-- Indicators -->

  <% @male.user.images.each do |image| %>
    <ol class="carousel-indicators">
         <% if @male.user.images.index(image) == 0 %>
             <li class='active'>
         <% else %>
              <li>
         <% end %>
            </li>
         </ol>
  <% end %>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >


   <% if @male.user.images.empty? %>
     <%= image_tag "default1.png" %>
  <% else %>
    <% @male.user.images.each do |image| %>

      <% if @male.user.images.index(image) == 0 %>
        <div class="item active">
          <%= image_tag image.picture %>
        <% if @male.user == current_user %>
          <%= link_to (image_tag 'delete64.png'), image_destroy_path(id: image.id), class: "delete_b", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>



      <% else %>
        <div class="item">
          <%= image_tag image.picture %>
          <% if @male.user == current_user %>
          <%= link_to (image_tag 'delete64.png'), image_destroy_path(id: image.id), class: "delete_b", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if @male.user == current_user %>
   <%= render 'users/userImages'%>
  <% end %>
</div>

  <!-- Controls -->
   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Prev</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  </div>
</div>

  <div class="col-md-5"><h3><%= @male.user.name %></h3>
    <h4><%= @male.user.state %></h4>
  </div>

  <div class="col-md-5">
    <p class="col-md-12">
      <h4 class="underline">Bio</h4><br>
      <%= @male.user.description %>
    </p>

    <h4 class="col-md-12 underline" id="stats">Stats</h4><br>

    <p class="col-md-4">
      <strong>Age:</strong>
      <%= @male.age %>
    </p>
    <p class="col-md-4">
      <strong>Height:</strong>
      <%= @male.height %>
    </p>

    <p class="col-md-4">
      <strong>Weight:</strong>
      <%= @male.weight %>
    </p>
    <p class="col-md-4">
      <strong>Suit:</strong>
      <%= @male.suit %>
    </p>

    <p class="col-md-4">
      <strong>Chest:</strong>
      <%= @male.chest %>
    </p>

    <p class="col-md-4">
      <strong>Pant:</strong>
      <%= @male.pant %>
    </p>

    <p class="col-md-4">
      <strong>Shoes:</strong>
      <%= @male.shoes %>
    </p>

    <p class="col-md-4">
      <strong>Eyes:</strong>
      <%= @male.eyes %>
    </p>

    <p class="col-md-4">
      <strong>Hair:</strong>
      <%= @male.hair_c %>
    </p>

    <p class="col-md-4">
      <strong>Length:</strong>
      <%= @male.hair_l %>
    </p>

    <p class="col-md-4">
      <strong>Race:</strong>
      <%= @male.skin %>
    </p>

    <p class="col-md-4">
      <strong>Tattoos:</strong>
      <%= @male.tattoo %>
    </p>

    <p class="col-md-4">
      <strong>Pierced:</strong>
      <%= @male.pierce %>
    </p>

    <p class="col-md-4">
      <strong>Scars:</strong>
      <%= @male.scar %>
    </p>

    <p class="col-md-4">
      <strong>Nudity:</strong>
      <%= @male.nudity %>
    </p>

    <h4 class="col-md-12 underline">Details</h4>

    <p class="col-md-6">
      <strong>Exp:</strong>
      <%= @male.experience %>
    </p>

    <p class="col-md-6">
      <strong>Day Rate:</strong>
      <%= @male.rate %>
    </p>

  <br><br><br>

  <div class="col-md-12">
    <h4 class="underline">Availability</h4>
  </div>

  <div class="col-md-12">
  <h4 class="col-md-12" id='calendar' data-uid="<%= @male.user.id %>">
  </h4>
  </div>


  <div class="col-md-4">
     <%= link_to 'Edit', edit_male_path(@male), class: "btn btn-xl" %> 
  </div>
  <div class="col-md-4">
     <%= link_to 'Pay', charges_path, class: "payBtn btn btn-xl" %>
  </div>

</div>




