<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @male.user.name %>
</p>

<p>
  <strong>Memberid:</strong>
  <%= @male.user.memberId %>
</p>

<p>
  <strong>City:</strong>
  <%= @male.user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @male.user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @male.user.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @male.user.description %>
</p>

<p>
  <strong>Height:</strong>
  <%= @male.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @male.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @male.age %>
</p>

<p>
  <strong>Hair c:</strong>
  <%= @male.hair_c %>
</p>

<p>
  <strong>Hair l:</strong>
  <%= @male.hair_l %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @male.eyes %>
</p>

<p>
  <strong>Suit:</strong>
  <%= @male.suit %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @male.chest %>
</p>

<p>
  <strong>Pant:</strong>
  <%= @male.pant %>
</p>

<p>
  <strong>Shoes:</strong>
  <%= @male.shoes %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @male.skin %>
</p>

<p>
  <strong>Tattoo:</strong>
  <%= @male.tattoo %>
</p>

<p>
  <strong>Pierce:</strong>
  <%= @male.pierce %>
</p>

<p>
  <strong>Scar:</strong>
  <%= @male.scar %>
</p>

<p>
  <strong>Nudity:</strong>
  <%= @male.nudity %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @male.experience %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @male.rate %>
</p>


<%= link_to 'Edit', edit_male_path(@male) %> |
<%= link_to 'Back', males_path %>
