<p id="notice"><%= notice %></p>

<%= render 'profileMale' %>



<br>
<div id='calendar' data-uid="<%= @male.user.id %>"></div>

<%= link_to 'Edit', edit_male_path(@male) %> |
<%= link_to 'Back', males_path %>
