<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @male.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @male.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @male.age %>
</p>

<p>
  <strong>Hair c:</strong>
  <%= @male.hair_c %>
</p>

<p>
  <strong>Hair l:</strong>
  <%= @male.hair_l %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @male.eyes %>
</p>

<p>
  <strong>Suit:</strong>
  <%= @male.suit %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @male.chest %>
</p>

<p>
  <strong>Pant:</strong>
  <%= @male.pant %>
</p>

<p>
  <strong>Shoes:</strong>
  <%= @male.shoes %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @male.skin %>
</p>

<p>
  <strong>Tattoo:</strong>
  <%= @male.tattoo %>
</p>

<p>
  <strong>Pierce:</strong>
  <%= @male.pierce %>
</p>

<p>
  <strong>Scar:</strong>
  <%= @male.scar %>
</p>

<p>
  <strong>Nudity:</strong>
  <%= @male.nudity %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @male.experience %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @male.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @male.user %>
</p>

<%= link_to 'Edit', edit_male_path(@male) %> |
<%= link_to 'Back', males_path %>
