<p id="notice"><%= notice %></p>

<%= render 'profileMale' %>
<p>
  <% @male.user.images.each do |image| %><br>
    <%= image_tag image.media.url(:medium)%><br>
    <%= button_to "Delete", :action => @destroy%>
  <% end %>
</p>
<%= render 'images/form' %>


<%= link_to 'Edit', edit_male_path(@male) %> |
<%= link_to 'Back', males_path %>
