<td><%= mua.style %></td>
<td><%= mua.education %></td>
<td><%= mua.experience %></td>
<td><%= mua.clients %></td>
<td><%= mua.equipment %></td>
<td><%= mua.rate %></td>
<td><%= mua.user %></td>
<td><%= link_to 'Show', mua %></td>
<td><%= link_to 'Edit', edit_mua_path(mua) %></td>
<td><%= link_to 'Destroy', mua, method: :delete, data: { confirm: 'Are you sure?' } %></td>