<p id="notice"><%= notice %></p>


<%= render 'profileMua' %>


<br>

<div id='calendar' data-uid="<%= @male.user.id %>"></div>

<%= link_to 'Edit', edit_mua_path(@mua) %> |
<%= link_to 'Back', muas_path %>
