<p id="notice"><%= notice %></p>


<%= render 'profileMua' %>


<br>
<% if @client.user == current_user %>
	<%= render 'users/userImages' %>
<% end %>
<div id='calendar' data-uid="<%= @male.user.id %>"></div>

<%= link_to 'Edit', edit_mua_path(@mua) %> |
<%= link_to 'Back', muas_path %>
