<p id="notice"><%= notice %></p>


<%= render 'profileMua' %>


<br>

<% if @mua.user == current_user %>
<%= render 'users/userImages' %>
<% end %>




<% @mua.user.images.each do |image| %>
	<%= image_tag image.picture %>
		<% if @mua.user == current_user %>
		<%= link_to 'Destroy', image_destroy_path(id: image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %>

<div id='calendar' data-uid="<%= @male.user.id %>"></div>

<%= link_to 'Edit', edit_mua_path(@mua) %> |
<%= link_to 'Back', muas_path %>
