<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mua.user.name %>
</p>

<p>
  <strong>Memberid:</strong>
  <%= @mua.user.memberId %>
</p>

<p>
  <strong>City:</strong>
  <%= @mua.user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @mua.user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @mua.user.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mua.user.description %>
</p>


<p>
  <strong>Style:</strong>
  <%= @mua.style %>
</p>

<p>
  <strong>Education:</strong>
  <%= @mua.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @mua.experience %>
</p>

<p>
  <strong>Clients:</strong>
  <%= @mua.clients %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @mua.equipment %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @mua.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @mua.user %>
</p>

<%= link_to 'Edit', edit_mua_path(@mua) %> |
<%= link_to 'Back', muas_path %>
