<%= form_for(@female) do |f| %>
  <% if @female.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@female.errors.count, "error") %> prohibited this female from being saved:</h2>

      <ul>
      <% @female.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :height %><br>
    <%= f.select :height, [ "4' 10\"", "4' 11\"","5","5' 1\"","5' 2\"","5' 3\"","5' 4\"","5' 5\"","5' 6\"","5' 7\"","5' 8\"","5' 9\"","5' 10\"","5' 11\"","6\"","6' 1\"","6' 2\"","6' 3\"","6' 4\"","6' 5\""] %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.select :weight, (95..200) %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.select :age, (16..60)%>
  </div>
  <div class="field">
    <%= f.label :hair_c %><br>
     <%= f.select :hair_c, ["Auburn","Black","Blonde","Brunette", "Chestnut", "Red", "Grey" "Other"] %>
  </div>
  <div class="field">
    <%= f.label :hair_l %><br>
   <%= f.select :hair_l, ["Short","Medium","Long"] %>
  </div>
  <div class="field">
    <%= f.label :eyes %><br>
    <%= f.select :eyes, ["Blue", "Brown", "Green", "Hazel"] %>
  </div>
  <div class="field">
    <%= f.label :bust %><br>
    <%= f.select :bust, (32..45) %>
  </div>
  <div class="field">
    <%= f.label :waist %><br>
    <%= f.select :waist, (20..36) %>
  </div>
  <div class="field">
    <%= f.label :hips %><br>
    <%= f.select :hips, (30..50) %>
  </div>
  <div class="field">
    <%= f.label :dress %><br>
    <%= f.select :dress, ["00","0","2","4","6","8","10","12","14","16","18","20"] %>
  </div>
  <div class="field">
    <%= f.label :shoes %><br>
    <%= f.select :shoes, options_for_select((5..12).step(0.5)) %>
  </div>
  <div class="field">
    <%= f.label :skin %><br>
    <%= f.select :skin, ["Asian","Black","Caucasian","Eastern European","East Indian","Hispanic","Middle Eastern","Native American","Pacific Islander","Other"] %>
  </div>
  <div class="field">
    <%= f.label :tattoo %><br>
    <%= f.select :tattoo, ["Yes","No","Some"] %>
  </div>
  <div class="field">
    <%= f.label :pierce %><br>
    <%= f.select :pierce, ["Yes", "No","Some"]  %>
  </div>
  <div class="field">
    <%= f.label :scar %><br>
    <%= f.select :scar, ["Yes","No","Some"]  %>
  </div>
  <div class="field">
    <%= f.label :nudity %><br>
    <%= f.select :nudity, ["Yes","No","Implied"] %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.select :experience, ["No Experience","Some Experience","Experienced","Professional"] %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.select :rate, ["$20-$99", "$100-$499","$500-$999","$1000-$4999","$5000+"] %>
  </div>
  <div class="field">
    <%=f.hidden_field :user_id, value: session[:user_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
