<td><%= female.height %></td>
<td><%= female.weight %></td>
<td><%= female.age %></td>
<td><%= female.hair_c %></td>
<td><%= female.hair_l %></td>
<td><%= female.eyes %></td>
<td><%= female.bust %></td>
<td><%= female.waist %></td>
<td><%= female.hips %></td>
<td><%= female.dress %></td>
<td><%= female.shoes %></td>
<td><%= female.skin %></td>
<td><%= female.tattoo %></td>
<td><%= female.pierce %></td>
<td><%= female.scar %></td>
<td><%= female.nudity %></td>
<td><%= female.style %></td>
<td><%= female.experience %></td>
<td><%= female.rate %></td>
<td><%= female.user %></td>
<td><%= female.zip %></td>
<td><%= link_to 'Show', female %></td>
<td><%= link_to 'Edit', edit_female_path(female) %></td>
<td><%= link_to 'Destroy', female, method: :delete, data: { confirm: 'Are you sure?' } %></td>