<p id="notice"><%= notice %></p>

<h1>Listing Females</h1>

<table>
  <thead>
    <tr>
      <th>Height</th>
      <th>Weight</th>
      <th>Age</th>
      <th>Hair c</th>
      <th>Hair l</th>
      <th>Eyes</th>
      <th>Bust</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Dress</th>
      <th>Shoes</th>
      <th>Skin</th>
      <th>Tattoo</th>
      <th>Pierce</th>
      <th>Scar</th>
      <th>Nudity</th>
      <th>Experience</th>
      <th>Rate</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @females.each do |female| %>
      <tr>
        <td><%= female.height %></td>
        <td><%= female.weight %></td>
        <td><%= female.age %></td>
        <td><%= female.hair_c %></td>
        <td><%= female.hair_l %></td>
        <td><%= female.eyes %></td>
        <td><%= female.bust %></td>
        <td><%= female.waist %></td>
        <td><%= female.hips %></td>
        <td><%= female.dress %></td>
        <td><%= female.shoes %></td>
        <td><%= female.skin %></td>
        <td><%= female.tattoo %></td>
        <td><%= female.pierce %></td>
        <td><%= female.scar %></td>
        <td><%= female.nudity %></td>
        <td><%= female.experience %></td>
        <td><%= female.rate %></td>
        <td><%= female.user %></td>
        <td><%= link_to 'Show', female %></td>
        <td><%= link_to 'Edit', edit_female_path(female) %></td>
        <td><%= link_to 'Destroy', female, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Female', new_female_path %>
