<!DOCTYPE html>
<html>
<head>
  <title>Mystyleblox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
	<script src='lib/jquery.min.js'></script>
	<script src='lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
</head>
<body>

	<% if logged_in? %>
	<h1>Hello, <%= current_user.name%></h1>
		<%= link_to "Log out", logout_path, method: "delete"  %>
<<<<<<< HEAD
		<div id="calendar" user-id="<%= current_user.id %>"></div>
	<% else  %>
	<h1>You are NOT logged in</h1>
	<% end %>
=======
		<div id="calendar" user-id= "<%= current_user.id%>">
		</div>
	<% else  %>
	<h1>You are NOT logged in</h1>
	<% end %>

>>>>>>> 21b4f63b2743607126087ac806e53df31e06aa30
<%= yield %>

</body>
</html>
